* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
    cursor: none;
}

h3 {
    font-size: 20px;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--default-font);
    background: var(--bg-color);
    color: var(--primary-color);
}

:root{
    --primary-color:#FFFFFF;
    --secondary-color:#FFFFFF0A;
    --accent-color:#E24C4A;
    --accent-secondary-color:#386BB7;
    --bg-color:#000000;
    --error-color:rgb(230, 87, 87);
    --divider-color:#FFFFFF0F;
    --dark-divider-color:#FFFFFF66;
    --default-font:"Manrope", sans-serif;
    --letter-spacing:0.2em;
    --gradint:linear-gradient(to right, var(--accent-secondary-color)0%, var(--accent-color)50%, var(--accent-secondary-color)100%);
    --text-color: #A7AABB;
}

/*  Global Css  Start */
button{
    display: block;
    background: var(--gradint);
    background-size: 200px auto;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 1em 2em;
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}
button:hover{
    background-position: right center;
}
button .fa-arrow-right{
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
    display: inline-block;
}
button:hover .fa-arrow-right{
    transform: rotate(0deg);
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    align-items: center;
}
.flex-midle{
    display: flex;
    align-items: center;
}


/* Global Css End */





/* Header Css Start */


.main-header {
    padding: 20px 0;
    border-bottom: 2px solid var(--divider-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.main-header .sticky-header{
    position: relative;
    top: 0;
    
}
    
.main-header .main-logo{
    width: 11%;
}

.main-header .main-logo .logo img{
width: 100%;
}

.main-header .catagory{
    width: 76%;
}
.main-header .catagory .catagory-list li{
    list-style: none;
    margin-left: 20px;
}
.main-header .catagory .catagory-list li a{
    color: var(--primary-color);
    text-decoration: none;
}
.main-header .button{
    width: 13%;
}


/* Header Css End */


/* Header Css Start */

.main-hero{
    background: url(./inc/hero-bg-shape.png) no-repeat center center;
    background-size: cover;
    height: 1000px;
    padding-top: 250px;

}
.main-hero .top-section{}
.main-hero .top-section h3{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.357em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--primary-color);
    background: var(--divider-color);
    border: 1px solid var(--divider-color);
    border-radius: 100px;
    padding: 9px 24px;
    margin-bottom: 20px;
}
.main-hero .top-section h1{
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -0.03em;
    max-width: 710px;
    margin: 0 auto;
    cursor: pointer;
}
.main-hero .top-section p{
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    color: var(--text-color);
}
.main-hero .top-section .hero-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: var(--gradint);
    background-size: 200px auto;
    border-radius: 50%;
    font-size: 30px;
    margin: 50px 0;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.main-hero .top-section .hero-btn:hover{
    background-position: right center;
}

.main-hero .top-section .hero-btn .fa-arrow-right{
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
    display: inline-block;
    color: var(--primary-color);
}
.main-hero .top-section .hero-btn:hover .fa-arrow-right{
    transform: rotate(0);
}
.main-hero .image-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-hero .image-section .hero-image-1{
    transform: rotate(-3deg);
    margin-top: 80px;
    aspect-ratio: 1 / 1.182;
    border-radius: 12px;
    z-index: -1;

}
.main-hero .image-section .hero-image-2{
    z-index: 100;
}
.main-hero .image-section .hero-image-3{
    transform: rotate(3deg);
    margin-top: 80px;
    z-index: -1;
}
.main-hero .image-section .hero-image-3 img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.182;
    border-radius: 12px;
}
.main-hero .image-section .hero-image-1 img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.182;
    border-radius: 12px;
}
.main-hero .image-section .hero-image-2 img{
    aspect-ratio: 1 / 1.182;
    border-radius: 12px;
}

/* Header Css End */


/* Scrolling ticker Start */
.scrolling-ticker-main{
    margin-top: 75px;
    background: var(--gradint);
    padding: 30px 0;
    z-index: 1;
    overflow: hidden;
}
.scrolling-ticker-main .scrolling-ticker-box{
    display: flex;
    align-items: center;
    gap: 60px;
}
.scrolling-ticker-main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    min-width:100%;
    --gap:60px;
    gap: var(--gap);
    cursor: pointer;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to{
        transform: translateX(calc(-100% - var(--gap)));
    }
}
.scrolling-ticker-main li{
    list-style: none;
}





.aboutus-main{
    margin: 100px 0;
}